.h3, h3 {
    font-size: 85px;
}
@font-face {
  font-family: 'Kh Ang MoulHand 2';
  src: url('../fonts/KhAngMoulHand2.woff2') format('woff2'),
    url('../fonts/KhAngMoulHand2.woff') format('woff'),
    url('../fonts/KhAngMoulHand2.ttf') format('truetype'),
    url('../fonts/KhAngMoulHand2.svg#KhAngMoulHand2') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
    font-family: 'parisienneregular';
    src: url('../fonts/parisienne-regular-webfont.woff2') format('woff2'),
         url('../fonts/parisienne-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Moul';
    src: url('../fonts/Moul.eot');
    src: url('../fonts/Moul.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Moul.woff2') format('woff2'),
        url('../fonts/Moul.woff') format('woff'),
        url('../fonts/Moul.ttf') format('truetype'),
        url('../fonts/Moul.svg#Moul') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Boss Signature';
    src: url('../fonts/BossSignature.woff2') format('woff2'),
        url('../fonts/BossSignature.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Khmer OS Metalchrieng';
    src: url('../fonts/KhmerOSMetalchrieng.eot');
    src: url('../fonts/KhmerOSMetalchrieng.eot?#iefix') format('embedded-opentype'),
        url('../fonts/KhmerOSMetalchrieng.woff2') format('woff2'),
        url('../fonts/KhmerOSMetalchrieng.woff') format('woff'),
        url('../fonts/KhmerOSMetalchrieng.ttf') format('truetype'),
        url('../fonts/KhmerOSMetalchrieng.svg#KhmerOSMetalchrieng') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
html, body {
    height: 100%;
    margin: 0;
}
body{ 
    position: relative;
}
article.wrapper{
  /* background: url(../img/backgroun-image.jpg) center center no-repeat; */
  background-size: cover;
  position: relative;
  height: 100%;
  width: 600px;
  z-index: -6;
  margin: 0 auto;
}
article.wrapper video{
  position: absolute;
  width: 100%;
  height: 100%;
}
div.black{
  position: absolute;
  opacity: 0.1;
  width: 100%;
  height: 100%;
  z-index: -5;
}
.sliderPop{
  text-align: center;
  /* padding-top: 5%;
  position: relative;
  width: 440px;
  margin: 0 auto; */
}
.ct-newsletter-close.ct-sliderPop-close{
  position: absolute;
  z-index: 1;
  right: 10%;
  top: 16%;
  font-size: 24px;
  color: #cc9935;
}
.ct-newsletter-close.ct-sliderPop-close:hover{
  color: #cc9935;
}

.sliderPop.flexslider img{
  width: 99%;
}
.culture-section {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 0%;
    height: 100vh;
    display: flex;
}
.culture-section span{
  font-family: 'Khmer OS Metalchrieng', sans-serif;
  font-size: 2.0rem;
}
.culture-section h3 span{
  font-family: 'Boss Signature', sans-serif;
}
.culture-section h1 {
  font-family: 'Times New Roman', 'Moul', sans-serif;
  font-weight: 500;
  font-size: 2rem;
  color: #6e5009;
  margin: 10px 0;
  text-transform: uppercase;
}
.culture-section h1 img,.culture-section h3 img{width: 60%;}
.culture-section h2 {
    font-family: 'Khmer OS Metalchrieng', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
}
.culture-section h3 {
    margin: 24px 0;
    font-family: 'Boss Signature', sans-serif;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
    letter-spacing: 5px;
}
.culture-section p {
    margin: 36px auto;
    font-size: 18px;
    width: 75%;
}
.culture-section .btn {
    /* font-size: 1.2rem ! Important;
    font-weight: 100;
    text-transform: uppercase;
    margin-top: 30px; */
    /* width: 600px; */
    /* position: absolute; */
    left: 0;
    right: 0;
    margin-inline: auto;
    bottom: 24%;
}
.culture-section .btn:hover {
    color: #8d7535;
}
.ptd {
  padding: 25px 0 0;
}
.btn-slider img {
  width: 50%;
}
.btn-slider:hover {
    color: #8d7535;
}


/* Popup CSS Below */
.flexslider .slides img {
  margin: 0 auto;
  max-width: 100px;
}
.ct-sliderPop {
  /*border-radius:50%;*/
  width:650px !important;
  /*height:650px !important;*/
}
.ct-sliderPop > .inner > .cow-map-img {
  margin-top: 75px;
}
.ct-sectional .col-lg-5.col-lg-offset-1 > img {
  cursor: pointer;
  border-radius: 50%;
}
.ct-sliderPop .inner {
  color: #fff;
  margin-top: 110px;
}
.map-white-border {
  border-bottom: 1px solid #fff;
  width: 30%;
  margin: 50px auto;
}
.ct-sliderPop-container {
  display: none;
  left: 0px;
  opacity: 0;
  top: 0px;
  z-index: 9998;
}
.ct-sliderPop-container.open {
  animation-duration: 0.35s;
  animation-fill-mode: both;
  animation-name: fadeIn;
  display: block;
}
.ct-sliderPop-container {
  overflow:hidden;
  display: inline-table;
  max-width: 650px !important;
  left: 50%;
  position: fixed !important; /* Required to override style inline style added by Flexslider */
  text-align: center;
  top: 45%;
  transform: translate(-50%, -50%);
  z-index: 9997;
}
.ct-sliderPop-slide1 {
  background: #43670F none repeat scroll 0% 0%;
}
.ct-sliderPop-slide2 {
  background: #E14F11 none repeat scroll 0% 0%;
}
.ct-sliderPop-slide3 {
  background: #4F4F99 none repeat scroll 0% 0%;
}.sliderPop.flexslider:hover .flex-direction-nav .flex-prev

.ct-sliderPop .inner .ct-sliderPop-close {
  display: inline-block;
  margin: -1% auto 30px;
  transition: opacity 0.25s ease-in-out 0s;
  width: 75px;
}
.ct-sliderPop h1 {
  font-family: "nimbus-sans-condensed", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  margin-top: 0;
}
.ct-sliderPop h1 span {
  font-family: 'coquette', fantasy;
  text-transform: capitalize;
  line-height: 0.8;
}
.ct-sliderPop h2,
.ct-sliderPop p {
  font-family: "nimbus-sans-condensed", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 1;
}
.ct-sliderPop .fa {
    font-size: 84px;
    margin-bottom: 10px;
}
.ct-sliderPop p {
  font-size: 18px;
  padding-bottom: 30px;
  width: 70%;
  line-height: 24px;
  margin: 0 auto;
}
.ct-sliderPop-container .flex-direction-nav a {
  overflow: visible;
}
.flex-direction-nav a,
.flex-direction-nav a.flex-next::before,
.flex-direction-nav a.flex-prev::before {
  color: #fff !important;
}
.flexslider .slides img {
  width: auto !important;
}
.sliderPop-close {
  width: 60px;
}
.flex{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.topmenu{
  width: 22%;
  position: absolute;
  top: -45px;
  transform: translate(-50%, 0%);
}
img.bgl,img.bgr{
  position: absolute;
  width: 66px;
  bottom: 0;
}
.txtscroll{
  position: absolute;
  width: 5%;
  bottom: 104px;
  transform: translate(-50%, 0%);
  left: 50%;
  animation: mymove 3s infinite;
}

img.bgl{
  left: 0;
}
img.bgr{
  right: 0;
}

#bg-detail {
  position: fixed;
  top: 0;
  z-index: -1;
  height: 100vh;
  object-fit: cover;
  width: 600px;
}

section#location {
    text-align: center;
}
section#gallery {
  padding: 15px 10px;
}
section#gallery h2{
  font-family: 'Kh Ang MoulHand 2', 'Times New Roman', 'Khmer OS Metalchrieng', sans-serif;
  color: #BE7E72;
  text-transform: uppercase;
  text-shadow: 0 0 #ee1d1d;
}
.grid-gallery{
  width: 100%;
  margin: 40px 0;
}
.grid-gallery .gallery{
  text-align: center;
  float: left;
  width: 46%;
  margin: 1%;
}
#location a, #home a {
  text-decoration: none;
}
#location span{
  background-image: url("../img/btn.png");
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 35px 20px 20px 20px;
}
#gallery span{
  background-image: url("../img/btn.png");
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 15px 30px 30px 30px;
}
span.savedate{
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 17px 21px 21px 30px;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid;
  border-radius: 10px;
  background-color:#efe0d6;
}
a:hover{
  text-decoration: none;
}

.title img {
  width: 90%;
}
img.titlefrontpage {
  width: 55%;
}
div.vdo_start {
  margin: 0 auto;
  width: 600px;
  height: 100vh;
}
video.vdo-start{
	width: 600px;
	margin: 0 auto;
	height: 100vh;
	object-fit: cover;
}
article.display, .home, .container{
	width: 600px;
    height: auto;
    margin: 0 auto;
}
section.nav-footer{
	/* background-color: #998661; */
	position: fixed;
	bottom: 0;
	width: 600px;
	z-index: 5;
}
.nav-link img{
	width: 85px;
}

.audio{
	position: fixed;
  top: 5%;
  z-index: 1;
  right: 10%;
  border-radius: 20%;
}

.front-page{
  position: absolute;
  bottom: 10%;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  width: 365px;
}

.nav-link:hover img{
	transform: rotate(0deg);
	width: 85px;
	
}
.pic {
  margin-bottom: 10px;
}

.section1{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 30px auto;
}

/* countdown style */
.countdown.pic.gallery1.js-scroll.fade-in-bottom.scrolled {
    padding: 15px;
    margin: 0px -15px;
    height: 750px;
    background: url(../img/countdown.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.pic.gallery1.js-scroll.fade-in-bottom.scrolled {
  color: #ffefa3;
  font-family: 'Moul', 'Times New Roman', sans-serif;
}
.pic h3 {
  font-size: 1.9rem;
}
.pic div {
  margin: 0 auto;
  font-size: 2rem;
  border-radius: 10px;
  font-weight: bold;
}

.pic div span{
  display: block;
  font-size: 1.8rem;
  font-weight: lighter;
}

div#countdown > div.dt {
  float: left;
  width: 23%;
  background: rgb(121 109 91);
  padding: 10px 0;
  margin: 0 3px;
  border-radius: 10px;
}
div#countdown > div.dt > span {
  font-size: 1.4rem;
}
.vdobg.img {display:none;}
/* =================================
  # Media Queries 
================================= */
@media (max-width: 601px){
  .btn-slider img {
    width: 60%;
  }
  /*.front-page{*/
  /*  padding-bottom: 35%;*/
  /*}*/
  .vdobg.img {display:block;}
  .section1{
    height: 100vh;
  }
  .pic {
    margin-bottom: 20px;
  }
  .mg-top{
    margin-top: 45px;
  }
  .txtscroll{
    width: 5%;
  }
  span.savedate{
    padding: 13px 6px 13px 8px;
  }
.culture-section img.titlefrontpage{
    width: 100%;
    margin-top: 55%;
  }
div.vdo_start{
    margin: 0 auto;
    width: 100%;
    height: 100vh;
}
video.vdo-start {
    width: 100%;
    margin: 0 auto;
    height: 100vh;
    object-fit: cover;
}
.audio{
  top: 2%;
  right: 5%;
}

#bg-detail{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
article.display, .home, .container{
    width: 100%;
  }
  .nav-link img{
    width: 73px;
  }
  .nav-link:hover img{
    width: 75px;
  }
  section.nav-footer{
    width: 100%;
  }
  .topmenu{
    top: -37px;
  }

  .ct-sliderPop {
    height: 500px;
    max-width: 500px !important;
  }
  .ct-sliderPop > .inner > .cow-map-img {
    margin-top: 50px;
  }
  .ct-sliderPop-description span {
    font-size: 50px;
  }
  .ct-sliderPop h2,
  .ct-sliderPop-description {
    font-size: 20px;
  }
  .ct-sliderPop h2 {
    line-height: 0.2;
  }
  .ct-sliderPop-description {
    padding-bottom: 0;
  }
  .ct-sliderPop .inner {
    margin-top: 10px;
  }
  .ct-sliderPop-description .map-fontSize {
    font-size: 80px;
  }
  .culture-section h3{
    font-size: 5.5rem;
  }
  .culture-section h2, .culture-section h1 {
    font-size: 2rem;
    line-height: 3rem;
    font-family: 'Times New Roman', sans-serif;
    width: 320px;
    margin:0 auto;
  }
  .culture-section span{
    font-family: unset;
  }
  .culture-section h1 img,.culture-section h3 img{width: 90%;}
  article.wrapper{
    width: 100%;
  }
  article.wrapper video,   article.wrapper img {
    position: absolute;
    width: 100%;
    object-fit: cover;
  }

  .culture-section .btn{
    width: 100%;
  }

}


@-webkit-keyframes fadeIn{0%{opacity:0}100%{opacity:1}}
@keyframes fadeIn{0%{opacity:0}100%{opacity:1}}
@keyframes mymove {
  0%   {bottom: 100px;}
  25%  {bottom: 110px;}
  100% {bottom: 100px;}
  25%  {bottom: 110px;}
  0%   {bottom: 100px;}
}

.zoom-in-out-box {
  animation: zoom-in-zoom-out 2s ease infinite;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(0.9, 0.9);
  }
  50% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(0.9, 0.9);
  }
}

.countdown h3, div#countdown span {
  font-family: none;
}